html, body, #app, .display {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.fadeMenu-enter-active, .fadeMenu-leave-active {
  transition: opacity .5s
}

.fadeMenu-enter, .fadeMenu-leave-to {
  opacity: 0
}

.header {
  display: flex;
  flex-direction: column;
  width: 900px;
}

/*.bannerCV{*/
/*color: white;*/
/*font-size: 40px;*/
/*font-family: Calibri;*/
/*display: flex;*/
/*align-items: center;*/
/*justify-content:  center;*/
/*background-color: #C7C7C7;*/
/*}*/

/*.bannerCV p{*/
/*margin-left: 0.5em;*/
/*margin-top: 0.5em;*/
/*margin-bottom: 0.5em;*/
/*}*/

/*.contentHeader{*/
/*display: flex;*/
/*flex-direction: row;*/
/*width: auto;*/
/*background-color: white;*/
/*}*/

/*.colonnesHeader{*/
/*display: flex;*/
/*flex-direction: column;*/
/*flex-grow: 3;*/
/*flex-basis: 37.5%;*/
/*align-items: flex-start;*/
/*justify-content: space-between;*/
/*}*/
/*.photo{*/
/*display: flex;*/
/*justify-content: center;*/
/*align-items: center;*/
/*flex-grow: 2;*/
/*flex-basis: 25%;*/
/*}*/
/*.photoProfil{*/
/*height : 9em;*/
/*width: 8em;*/
/*display: block;*/
/*border-radius: 50%;*/
/*}*/

/*.userInfo{*/
/*display: flex;*/
/*flex-direction: row;*/
/*align-items: center;*/
/*height: 3.5em;*/
/*width: auto;*/
/*}*/
/*.userInfo p{*/
/*margin-left: 1em;*/
/*}*/

/*.missions{*/
/*background-color: white;*/
/*display: flex;*/
/*flex-direction: column;*/
/*width: 900px;*/
/*!*border-radius: 15px;*!*/
/*}*/

/*.headerMission{*/
/*display: flex;*/
/*flex-direction: column;*/
/*font-family: Calibri;*/
/*}*/

/*.titreMission{*/
/*display: flex;*/
/*flex-direction: column;*/
/*background-color: dodgerblue;*/
/*color: white;*/
/*font-weight: bold;*/
/*font-size: 25px;*/
/*justify-content: center;*/
/*align-items: center;*/
/*width: 900px;*/
/*height: 3em;*/
/*border-top-left-radius: 15px;*/
/*border-top-right-radius: 15px;*/
/*}*/
/*.titreMission p{*/
/*margin: 0;*/
/*}*/

/*.dateMission{*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: space-around;*/
/*font-size: 14px ;*/
/*}*/
/*.detailMission{*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: space-around;*/
/*}*/

/*.contentMission{*/
/*display: flex;*/
/*flex-direction: row;*/
/*}*/

/*.descriptionMission{*/
/*display: flex;*/
/*flex-grow: 7;*/
/*flex-basis: 70%;*/
/*}*/

/*.skills{*/
/*!*border: 1px solid red;*!*/
/*background-color: #F7F7F7;*/
/*display: flex;*/
/*flex-direction: column;*/
/*flex-wrap: wrap;*/
/*flex-grow: 3;*/
/*flex-basis: 30%;*/
/*align-items: center;*/
/*justify-content: center;*/
/*max-height: 10em;*/
/*}*/

/*.skill{*/
/*display: flex;*/
/*color: white;*/
/*justify-content: center;*/
/*align-items: center;*/
/*border-radius: 8px;*/
/*width: 5.2em;*/
/*height: 2em;*/
/*margin: 0.2em;*/
}
